body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 20px auto;
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}

button:hover {
    background: #0056b3;
}

li {
    list-style: none;
    padding: 8px;
    margin-top: 6px;
    background: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
